body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #629460;
    background: -webkit-linear-gradient(to left, #c9f2c7, #629460);
    overflow: hidden;
  }

  .context {
    width: 100%;
    position: absolute;
    top: 50vh;
  }

  .context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
  }

  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }

  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }

  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }

  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }

    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }

  #video-container {
    width: 70%;
    height: 600px;
    margin: auto;
    padding-top: 1.25%;
    position: relative;
    background-color: transparent; /* transperaent background for video container */
  }

  #slide-in-bar {
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -30%;
    background-color: #333;
    color: #fff;
    overflow-y: scroll;
    transition: right 0.3s ease-in-out;
  }

  #slide-in-bar div {
    padding: 10px;
    border-bottom: 1px solid #555;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #slide-in-bar div:hover {
    background-color: #555;
  }
  p{
      color: #fff;
  }
  .video-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #555;
    color: #fff;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .video-button:hover {
    background-color: #777;
  }

  #toggleButton {
    position: fixed;
    top: 10px;
    right: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  #toggleButton:hover {
    background-color: #777;
  }
  
  #homeButton {
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    width: 100px; 
    height: 100px;
    top: 20px;
    right: -20px;
    padding: 10px 20px; /* Adjust padding as needed */
    
}

#homeButton img {
    width: 70px; 
    height: 90px;
    position: relative;
    top: -5px;
    right: 5px;
}