html, body {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: scroll; /* Enable vertical scrolling on body */
}


@keyframes scrollBg {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-150px);
  }
}
.scroll-container {
    position: relative;
    z-index: 1;
}

.scroll-bg {
  height: 100vh; /* Full viewport height */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://andreivictor.ro/codepen/scroll-bg-animation-pinterest/bg_pasta_grid-3f880df3.jpg');
  background-size: cover;
  animation: scrollBg 20s linear infinite; /* Infinite loop for continuous scrolling */
  z-index: -2;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f7f7f7; 
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

th, td {
    border: 1px solid #ddd; 
    padding: 12px;
    text-align: left;
}

th {
    background-color: green; 
    color: white;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

.speech-bubble {
    background-color: #EC9F05; 
    padding: 10px;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
}

.speech-bubble p {
    margin: 10px;
    font-size: 100px;
    color: black;
}
.speech-bubble1 {
    background-color: #EC9F05; 
    padding: 10px;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
}

.speech-bubble1 p {
    margin: 0;
    font-size: 100px;
    color: black;
}
.speech-bubble-Breakfast {
    background-color: #EC9F05; 
    margin-top: 0px;
    border-radius: 10px;
    text-align: center;
}

.speech-bubble-Breakfast p {
    margin: 0;
    font-size: 100px;
    color: black;
}
.speech-bubble-Lunch {
    background-color: #EC9F05; 
    padding: 10px;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
}

.speech-bubble-Lunch p {
    margin: 0;
    font-size: 100px;
    color: black;
}
#homeButton {
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    width: 100px; 
    height: 100px;
    top: -200px;
    right: -30px;
    padding: 10px 20px; /* Adjust padding as needed */ 
}

#homeButton img {
    width: 70px; 
    height: 90px;
    position: relative;
    top: -5px;
    right: 5px;
}

.heading-container {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    flex-direction: column;
    top: -10px;
    left: -30px;
}


.heading-container::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 250px;
    width: 990px;
    height: 80%;
    background-color: #c7d1be; 
    z-index: -1; 
    border-radius: 10px; 
}

h1{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: #dde8de;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.animated-heading {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #243119 0%,
        #626460 29%,
        #96BE8C 67%,
        #C9F2C7 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-size: 100px;
}

@keyframes textclip {
to {
    background-position: 200% center;
}
}